.BubbleContainer {
	width: 210px;
	position: absolute;
	overflowWrap: normal;
	cursor: grab;
}

.Bubble {
	border-radius: .4em;
	background-color: rgba(0,40,132, 0.6);
	//border: 1px solid #002884;
	color: white;
	padding: 20px 10px 10px 10px;
	text-align: center;
	font-size: 12px;
	position: relative;
}

.PinIcon {
	visibility: hidden;
}

.Bubble a {
	color: white;
}

.Bubble a.titleLink {
	text-decoration: none;
}

.Bubble a.titleLink:hover {
	text-decoration: underline;
}

.Bubble p {
	font-size: 10px;
}

.Bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 24px solid transparent;
	border-top-color: rgba(0, 40, 132, 0.6);
	border-bottom: 0;
	border-left: 0;
	margin-left: -12px;
	margin-bottom: -24px;
}

.Bubble:hover, .Pinned .Bubble {
	border: 1px solid #002884;
	background-color: rgb(0, 41, 151);
	z-index:9999;
}

.Bubble:hover .PinIcon, .Pinned .Bubble .PinIcon {
	visibility: visible;
}

.Bubble:hover:after, .Pinned .Bubble:after {
	border-top-color: rgba(0, 40, 132, 1);
}

.BubbleContainer:hover, .Pinned {
	z-index:9999;
}